/*------------------------------------------------------------------

Woo Wishlist

-------------------------------------------------------------------*/

.products .product .tinv-wraper.tinv-wishlist {

  position: absolute;

  top: 10px;

  right: 10px;

  visibility: hidden;

  -moz-opacity: 0;

  -webkit-opacity: 0;

  opacity: 0;

  -webkit-transition: all 0.25s ease-in-out;

  -moz-transition: all 0.25s ease-in-out;

  -ms-transition: all 0.25s ease-in-out;

  -o-transition: all 0.25s ease-in-out;

  transition: all 0.25s ease-in-out;

  z-index: 10; }



.products .product:hover .tinv-wraper.tinv-wishlist {

  visibility: visible;

  -moz-opacity: 1;

  -webkit-opacity: 1;

  opacity: 1; }



.woocommerce ul.products li.product .button.tinvwl_add_to_wishlist_button {

  border: 0;

  padding: 0;

  background-color: rgba(0, 0, 0, 0.07);

  border-radius: 50%; }



.woocommerce ul.products li.product .button.tinvwl_add_to_wishlist_button:hover {

  background-color: rgba(0, 0, 0, 0.15); }



.tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button.no-txt {

  margin-left: 0; }



ul.products li.product .tinvwl_add_to_wishlist_button {

  margin-top: 0; }



.tinv-wishlist table input[type="checkbox"] {

  margin-right: 0 !important; }



.tinv-wishlist .product-action .button {

  padding: 12px 0; }



a.wishlist_products_counter.top_wishlist-heart-plus:before, a.wishlist_products_counter.top_wishlist-heart:before {

  margin-right: 2px; }



.tinv-wishlist .tinvwl-input-group .form-control {

  height: 46px; }



.tinv-wishlist .tinv-header h2 {

  color: #292933;

  font-size: 26px; }



.tinv-wishlist .product-remove button {

  display: inline-block;

  font-size: 14px;

  width: 22px;

  height: 22px;

  line-height: 22px;

  font-weight: 400;

  color: #bbb;

  background-image: none;

  text-indent: 0;

  text-transform: lowercase;

  border: 1px solid;

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  -ms-border-radius: 50%;

  border-radius: 50%;

  -webkit-box-sizing: content-box;

  -moz-box-sizing: content-box;

  box-sizing: content-box; }

  .tinv-wishlist .product-remove button:hover {

    background-color: transparent;

    color: #333; }



.tinv-wishlist table td, .tinv-wishlist table th {

  padding: 0.8em !important; }



.tinv-wishlist table th {

  font-size: 13px;

  font-weight: 600;

  color: #292933;

  background-color: #f6f6f6; }



.tinv-wishlist table {

  border: 1px solid #eaeaea;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  padding-left: 30px; }



.single-product .tinvwl-after-add-to-cart {

  display: inline-block;

  vertical-align: top; }



.single-product div.product form.cart .button.tinvwl_add_to_wishlist_button {

  margin: 0 0 0 5px;

  padding: 12px 20px;

  background-color: #f0f0f0;

  border-color: #f0f0f0;

  color: #292933; }



.single-product div.product form.cart .button.tinvwl_add_to_wishlist_button:hover {

  background-color: #6b7c93;

  border-color: #6b7c93;

  color: #fff; }



.single-product .tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button:before {

  background-image: none;

  font-family: 'dpr-icomoon';

  font-weight: normal;

  font-style: normal;

  letter-spacing: normal;

  text-rendering: auto;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  content: '\e08a';

  color: inherit;

  font-size: 13px; }



.single-product .tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button.tinvwl-product-in-list:before {

  content: '\e91a'; }



.single-product div.product form.cart .button.tinvwl_add_to_wishlist_button {

  margin: 0 0 0 5px;

  padding: 12px 20px;

  background-color: #f0f0f0;

  border-color: #f0f0f0;

  color: #292933; }



.single-product div.product form.cart .button.tinvwl_add_to_wishlist_button, div.product form.cart .tinvwl_add_to_wishlist_button {

  float: none; }



.single-product .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button.no-txt {

  margin-top: 0; }



.tinv-wishlist .button.tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt, .tinv-wishlist .button.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt {

  padding-left: 1em;

  vertical-align: bottom; }



.tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button.no-txt {

  margin-left: 0; }



.tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button.no-txt {

  margin-left: 10px; }



.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt, .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt, a.wishlist_products_counter.top_wishlist-heart-plus.no-txt {

  position: relative;

  width: 46px;

  height: 46px;

  vertical-align: bottom; }



.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before, a.wishlist_products_counter.top_wishlist-heart.no-txt:before {

  margin-top: -5px;

  margin-left: -6px;

  font-size: 13px;

  line-height: 11px; }





