.full_screen-header {
	z-index: 11;
	
	#dpr-header-inner {
		overflow: visible !important;
	}

	#dpr-navigation-wrapper {
		right: 0;
	}
	.full-screen-logo-link img {
	margin-bottom:30px;
	}
	.menu-bar-wrapper {
	    float: right;
	    height: 100%;
	    display: table;
	}

	.menu-bar-inner {
	    display: table-cell;
	    vertical-align: middle;
	    position: relative;
	    height: 74px;
	}

	.menu-bar {
	    display: inline-block;
	    position: relative;
	    margin-left: 10px;
	    min-width: 28px;
	    height: 33px;
	    text-align: left;
	    z-index: 101;
		
		&.close-menu {
			position:fixed;
			right:30px;
			top:60px;
		}
		
		
	    .opener {
		    display: inline-block;
		    width: 23px;
		    height: 2px;
		    position: relative;
		    top: 2px;
		    background-color: $color-2;
		    vertical-align: middle;
		    white-space: nowrap;
		    @include transition( all ease .3s );

		    &:before, &:after {
			    position: absolute;
			    content: '';
			    display: inline-block;
			    width: 23px;
			    height: 2px;
			    left: 0;
			    background-color: $color-2;
			    outline: 1px solid transparent;
			    @include transition( all ease .3s );
			}

		    &:before {
			    top: -8px;
			}

		    &:after {
			    top: 8px;
			}
		}
		&.close-menu .opener {
		    background-color: transparent !important;

		    &:before, &:after {
			    background-color: $color-1;
			}

		    &:before {
			    @include transform( translateY(8px) rotateZ(-45deg) );
			}

		    &:after {
			    @include transform( translateY(-8px) rotateZ(45deg) );
			}
		}
	}

	.menu-bar:not(.close-menu):hover {
		.opener {
			  animation-duration: 0.7s;
			  animation-name: openerwidth;
			  animation-iteration-count: infinite;
			  animation-direction: alternate;
			  
			  	&:before {
				  animation-duration: 0.6s;
				  animation-name: openerwidth;
				  animation-iteration-count: infinite;
				  animation-direction: alternate;
				}
				
				&:after {
				  animation-duration: 0.5s;
				  animation-name: openerwidth;
				  animation-iteration-count: infinite;
				  animation-direction: alternate;
				}
		}
	}

	&.nav-open {
		@include transform( none !important );
	}

	#full-screen-menu {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.9);
	    overflow-x: hidden;
	    z-index: 100;

	    #full-screen-menu-inner {
	    	display: table;
		    width: 100%;
		    height: 100%;
		    padding: 0 40px;
		}

	    #dpr-navigation {
	    	display: table-cell;
		    vertical-align: middle;
		    padding: 100px 0;
	    	text-align: center;
		}
	}

	.fs-dropdown-menu {
	    list-style: none;
		margin: 0;

		li {
			a {
				display: block;
			    color: $color-1;
				font-size:25px;
				font-weight:800;
			    letter-spacing: -0.8px;

			    &:hover {
			    	color: rgba( $color-1, .7 );
			    }
			}

			> a .nav-arrow {
				padding-left: 5px;
				font-family: 'dpr-icomoon';
				font-size:60%;
				&:before {
					content: '\e91d';
				}
			}

			&.open-sub > a .nav-arrow:before {
				content: '\e923';
			}

			.sidebar-box {
				display: none;
			}
		}

		ul.sub-menu {
			display: none;
			list-style: none;
			margin: 0;
			padding: 0;

			li a {
			    font-size: 16px;
			    padding: 6px 0;
			}
		}

    	> li {
    		display: block;

			> a {
			    font-size: 24px;
			    line-height: 1.2;
			    padding: 5px 0;
			}	    			
		}

	    > li.search-toggle-li {
	    	max-width: 160px;
			margin: 20px auto 0;

			form {
				position: relative;
			}

			input, label {
				font-size: 16px;
				line-height: 24px;
			    padding: 4px 0;
			    color: $color-1;
			    margin: 0;
			    text-align: center;
			}

			input {
				position: relative;
			    border: 0;
			    background-color: transparent;
			    border-bottom: 1px solid rgba($color-1,.7);
			    @include border-radius( 0 );
			    z-index: 2;

			    &:hover, &:focus {
			    	border-color: $color-1;
			    }
			}

			label {
			    display: block;
				position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    cursor: text;
			    @include opacity( .5 );
			    z-index: 1;
			    i {
			    	display: inline-block;
				    background-color: $color-1;
				    width: 3px;
				    height: 3px;
				    margin-left: 3px;
				    @include animation( blink 1s linear infinite );
			    }

			    i+i {
				    @include animation-delay( .2s );
				}

				i+i+i {
				    @include animation-delay( .4s );
				}
			}

			form.search-filled label {
				@include opacity( 0 );
				@include transition-duration( 150ms );
			}
	    }
    }

    .dpr-adeline-social-menu {
    	display: block;
	    float: none;
	    margin-top: 30px;
	    text-align: center;
	    right: auto;

	    .social-menu-inner {
		    display: block;
		    height: auto !important;
		}

		ul li {
		    float: none;
		    display: inline-block;
		}

		&.minimal-social ul li a {
			background-color: transparent !important;
			color: $color-1;
			font-size: 24px;
    		padding: 0 16px;
    		margin: 0;

			&:hover {
				color: $color-4;
			}
		}

		.colored ul li a,
		.minimal ul li a,
		.rounded ul li a {
		    margin: 0 4px;
		}

		.colored ul li a span,
		.minimal ul li a span,
		.rounded ul li a span {
		    font-size: 16px;
		    width: 30px;
		    height: 30px;
		    line-height: 30px;
		}
    }

}



@-webkit-keyframes openerwidth {
  from {
    width: 18px;
  }

  to {
    width: 28px;
  }
}

@-moz-keyframes openerwidth {
  from {
    width: 18px;
  }

  to {
    width: 28px;
  }
}

@-o-keyframes openerwidth {
  from {
    width: 18px;
  }

  to {
    width: 28px;
  }
}

@keyframes openerwidth {
  from {
    width: 18px;
  }

  to {
    width: 28px;
  }
}


@-webkit-keyframes blink {
    0% {
        -webkit-opacity: 1;
    }
    50% {
        -webkit-opacity: 0;
    }
    100% {
        -webkit-opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        -moz-opacity: 1;
    }
    50% {
        -moz-opacity: 0;
    }
    100% {
        -moz-opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        -o-opacity: 1;
    }
    50% {
        -o-opacity: 0;
    }
    100% {
        -o-opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*------------------------------------*
	Full screen appear effects
*------------------------------------*/

.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.active {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.overlay-corner {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(50px) translateX(50px);
	transform: translateY(50px) translateX(50px);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}

.overlay-corner.active {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.active {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.overlay-simplegenie {
	visibility: hidden;
	-webkit-transform: translateY(60%) scale(0);
	transform: translateY(60%) scale(0);
	-webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
	transition: transform 0.4s, visibility 0s 0.4s;
}

.overlay-simplegenie.active {
	visibility: visible;
	-webkit-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}
