#dpr-header.magazine-header {
	background-color: transparent;
	text-align: center;

	.top-header-wrapper {
		position: relative;
		background-color: #fff;
		padding: 30px 0;
	    @include transition( padding .4s ease-in-out );
	    z-index: 10;
	}

	.top-header-inner {
		@include display-flex();
		@include flex-direction( row );
		@include align-items( center );
		@include justify-content( center );
		width: 100%;
		margin: 0;
	}

	.top-col {
		-webkit-flex: 1 0 0;
    	flex: 1 0 0;
		text-align:left;
    	&.logo-col {
    		-webkit-flex: auto 0 0;
    		flex: auto 0 0;
			width:33.33%
    	}

	}


	#dpr-logo {
    	float: none;
    	display: block;

	    #dpr-logo-inner {
		    display: block;
		    height: auto !important;
		}
	}


	#dpr-navigation-wrapper {
		position: relative;
		float: none;
		position: relative;
	    right: auto !important;
	    left: auto !important;
	    @include transform( none );
	    z-index: 9;


    	#dpr-navigation {
    		display: inline-block;
    		position: relative;
			float: left;
		    left: -22px;
    	}

    	.dropdown-menu > li > a {
		    font-size: 12px;
		    line-height: 60px;
		    padding: 0 22px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
    	}
	}

}

.is-sticky #dpr-header.magazine-header.shrink-header {

	.top-header-wrapper {
		padding: 5px 0;

	}

}

#dpr-header.magazine-header #dpr-adeline-mobile-menu-icon {
	float: none;
	right: auto !important;
	left: auto !important;

	a {
		float: none;
		display: inline-block;
		font-size: 12px;
		padding: 0 22px;
		line-height: 60px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.header-overlapping-used #dpr-header.magazine-header {
	
	.top-header-wrapper , .bottom-header-wrapper, #dpr-adeline-mobile-menu-icon{
		background-color:transparent;
		}
	
}


/*------------------------------------*
	All Devices under 960px
*------------------------------------*/
@media only screen and (max-width: 959px) {

	#dpr-header.magazine-header {
		.top-header-inner {
			display: block;
		}

		.top-col:not(.logo-col) {
			display: none;
		}

		.top-col.logo-col {
			display: inline-block;
			text-align: center;
		}
	}

	/* Show search form in sidr for the magazine header style */
	.magazine-header-style {
		.sidr-class-mobile-searchform {
			display: block;
		}
	}
	
}

/*------------------------------------*
	Phone Landscape
*------------------------------------*/
@media only screen and (max-width: 480px) {

	/* magazine header style */
	#dpr-header.magazine-header {
		.header-top-wrapper {
			padding: 20px 0;
		}

		#dpr-adeline-mobile-menu-icon a {
			line-height: 40px;
		}
	}

}