/**
 * Single Post Tags
 */
.single .post-tags {
	font-size: 12px;
    font-weight: 500;
	line-height:22px;
	margin: 35px 0 -20px;
	padding-top: 17px;
	
	
	a {
	text-decoration: none;
 		display: inline-block;
		vertical-align: top;
		margin-right: 6px;
		margin-bottom: 9px;
		padding: 3px 12px 3px 12px;
		background-color: $color-8;
		border: 1px $color-8 solid;
		border-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		font-size: 14px !important;
		font-weight:400;
		color: $color-6;
		line-height: 24px;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	
	a:hover {
		background-color:$color-5;
		border-color:$color-5;
		color:#fff
	}
}
