$icomoon-font-path: "../fonts/dpr-icomoon/" !default;
$icomoon-font-family: "dpr-icomoon" !default;

@function icomoon-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($icomoon-font-path + $url);
    }
}


@font-face {
  font-family: 'dpr-icomoon';
  src:  icomoon-font-url('dpr-icomoon.eot');
  src:  icomoon-font-url('dpr-icomoon.eot#iefix') format('embedded-opentype'), icomoon-font-url('dpr-icomoon.ttf') format('truetype'), icomoon-font-url('dpr-icomoon.woff') format('woff'), icomoon-font-url('dpr-icomoon.svg#dpr-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="dpr-icon-"], [class*=" dpr-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dpr-icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dpr-icon-minus-sign:before {
  content: "\e923";
}
.dpr-icon-bag3:before {
  content: "\e920";
}
.dpr-icon-bag4:before {
  content: "\e921";
}
.dpr-icon-bag5:before {
  content: "\e922";
}
.dpr-icon-Arrow-OutLeft:before {
  content: "\e91e";
}
.dpr-icon-Arrow-OutRight:before {
  content: "\e91f";
}
.dpr-icon-plus-sign:before {
  content: "\e91d";
}
.dpr-icon-sina-weibo:before {
  content: "\e91c";
}
.dpr-icon-favorite-heart-button:before {
  content: "\e91a";
}
.dpr-icon-heart2:before {
  content: "\e91b";
}
.dpr-icon-cross-out:before {
  content: "\e919";
}
.dpr-icon-left-quote:before {
  content: "\e916";
}
.dpr-icon-paperclip:before {
  content: "\e917";
}
.dpr-icon-right-quotation-sign:before {
  content: "\e918";
}
.dpr-icon-calendar-2:before {
  content: "\e900";
}
.dpr-icon-calendar:before {
  content: "\e901";
}
.dpr-icon-clock-2:before {
  content: "\e902";
}
.dpr-icon-clock:before {
  content: "\e903";
}
.dpr-icon-comment-1-1:before {
  content: "\e904";
}
.dpr-icon-comment-1:before {
  content: "\e905";
}
.dpr-icon-comment-2-1:before {
  content: "\e906";
}
.dpr-icon-comment-2:before {
  content: "\e907";
}
.dpr-icon-comment-3-1:before {
  content: "\e908";
}
.dpr-icon-comment-3:before {
  content: "\e909";
}
.dpr-icon-comment-4-1:before {
  content: "\e90a";
}
.dpr-icon-comment-4:before {
  content: "\e90b";
}
.dpr-icon-comment-51:before {
  content: "\e90c";
}
.dpr-icon-comment-5:before {
  content: "\e90d";
}
.dpr-icon-comments-1:before {
  content: "\e90e";
}
.dpr-icon-comments:before {
  content: "\e90f";
}
.dpr-icon-folder-2-1:before {
  content: "\e910";
}
.dpr-icon-folder-2:before {
  content: "\e911";
}
.dpr-icon-folder-1:before {
  content: "\e912";
}
.dpr-icon-folder2:before {
  content: "\e913";
}
.dpr-icon-user-1:before {
  content: "\e914";
}
.dpr-icon-user3:before {
  content: "\e915";
}
.dpr-icon-user-female:before {
  content: "\e000";
}
.dpr-icon-people:before {
  content: "\e001";
}
.dpr-icon-user2:before {
  content: "\e005";
}
.dpr-icon-speedometer:before {
  content: "\e007";
}
.dpr-icon-credit-card:before {
  content: "\e025";
}
.dpr-icon-picture:before {
  content: "\e032";
}
.dpr-icon-map:before {
  content: "\e033";
}
.dpr-icon-handbag:before {
  content: "\e035";
}
.dpr-icon-globe2:before {
  content: "\e037";
}
.dpr-icon-call-out:before {
  content: "\e046";
}
.dpr-icon-call-in:before {
  content: "\e047";
}
.dpr-icon-call-end:before {
  content: "\e048";
}
.dpr-icon-basket-loaded:before {
  content: "\e04d";
}
.dpr-icon-basket:before {
  content: "\e04e";
}
.dpr-icon-bag1:before {
  content: "\e04f";
}
.dpr-icon-size-fullscreen:before {
  content: "\e057";
}
.dpr-icon-shuffle:before {
  content: "\e059";
}
.dpr-icon-logout:before {
  content: "\e065";
}
.dpr-icon-login:before {
  content: "\e066";
}
.dpr-icon-home:before {
  content: "\e069";
}
.dpr-icon-equalizer:before {
  content: "\e06c";
}
.dpr-icon-close2:before {
  content: "\e082";
}
.dpr-icon-cloud-download:before {
  content: "\e083";
}
.dpr-icon-cloud-upload:before {
  content: "\e084";
}
.dpr-icon-eye:before {
  content: "\e087";
}
.dpr-icon-heart:before {
  content: "\e08a";
}
.dpr-icon-magnifier:before {
  content: "\e090";
}
.dpr-icon-magnifier-add:before {
  content: "\e091";
}
.dpr-icon-magnifier-remove:before {
  content: "\e092";
}
.dpr-icon-location-pin:before {
  content: "\e096";
}
.dpr-icon-refresh:before {
  content: "\e098";
}
.dpr-icon-reload:before {
  content: "\e099";
}
.dpr-icon-phone2:before {
  content: "\e600";
}
.dpr-icon-menu:before {
  content: "\e601";
}
.dpr-icon-arrow-down:before {
  content: "\e604";
}
.dpr-icon-arrow-left:before {
  content: "\e605";
}
.dpr-icon-arrow-right:before {
  content: "\e606";
}
.dpr-icon-arrow-up:before {
  content: "\e607";
}
.dpr-icon-star-empty:before {
  content: "\e9d7";
}
.dpr-icon-star-half:before {
  content: "\e9d8";
}
.dpr-icon-star-full:before {
  content: "\e9d9";
}
.dpr-icon-odnoklassniki:before {
  content: "\f263";
}
.dpr-icon-shopping-bag1:before {
  content: "\f290";
}
.dpr-icon-shopping-basket:before {
  content: "\f291";
}
.dpr-icon-music:before {
  content: "\f001";
}
.dpr-icon-search:before {
  content: "\f002";
}
.dpr-icon-envelope-o:before {
  content: "\f003";
}
.dpr-icon-star:before {
  content: "\f005";
}
.dpr-icon-star-o:before {
  content: "\f006";
}
.dpr-icon-user:before {
  content: "\f007";
}
.dpr-icon-film:before {
  content: "\f008";
}
.dpr-icon-th:before {
  content: "\f00a";
}
.dpr-icon-th-list:before {
  content: "\f00b";
}
.dpr-icon-check:before {
  content: "\f00c";
}
.dpr-icon-close:before {
  content: "\f00d";
}
.dpr-icon-remove:before {
  content: "\f00d";
}
.dpr-icon-times:before {
  content: "\f00d";
}
.dpr-icon-home2:before {
  content: "\f015";
}
.dpr-icon-clock-o:before {
  content: "\f017";
}
.dpr-icon-tag:before {
  content: "\f02b";
}
.dpr-icon-tags:before {
  content: "\f02c";
}
.dpr-icon-list:before {
  content: "\f03a";
}
.dpr-icon-image:before {
  content: "\f03e";
}
.dpr-icon-photo:before {
  content: "\f03e";
}
.dpr-icon-picture-o:before {
  content: "\f03e";
}
.dpr-icon-check-square-o:before {
  content: "\f046";
}
.dpr-icon-play:before {
  content: "\f04b";
}
.dpr-icon-chevron-left:before {
  content: "\f053";
}
.dpr-icon-chevron-right:before {
  content: "\f054";
}
.dpr-icon-check-circle:before {
  content: "\f058";
}
.dpr-icon-info-circle:before {
  content: "\f05a";
}
.dpr-icon-exclamation-circle:before {
  content: "\f06a";
}
.dpr-icon-exclamation-triangle:before {
  content: "\f071";
}
.dpr-icon-warning:before {
  content: "\f071";
}
.dpr-icon-chevron-up:before {
  content: "\f077";
}
.dpr-icon-chevron-down:before {
  content: "\f078";
}
.dpr-icon-folder:before {
  content: "\f07b";
}
.dpr-icon-folder-open:before {
  content: "\f07c";
}
.dpr-icon-twitter-square:before {
  content: "\f081";
}
.dpr-icon-facebook-square:before {
  content: "\f082";
}
.dpr-icon-linkedin-square:before {
  content: "\f08c";
}
.dpr-icon-thumb-tack:before {
  content: "\f08d";
}
.dpr-icon-external-link:before {
  content: "\f08e";
}
.dpr-icon-github-square:before {
  content: "\f092";
}
.dpr-icon-phone:before {
  content: "\f095";
}
.dpr-icon-twitter:before {
  content: "\f099";
}
.dpr-icon-facebook:before {
  content: "\f09a";
}
.dpr-icon-facebook-f:before {
  content: "\f09a";
}
.dpr-icon-feed:before {
  content: "\f09e";
}
.dpr-icon-rss:before {
  content: "\f09e";
}
.dpr-icon-globe:before {
  content: "\f0ac";
}
.dpr-icon-chain:before {
  content: "\f0c1";
}
.dpr-icon-link:before {
  content: "\f0c1";
}
.dpr-icon-pinterest-square:before {
  content: "\f0d3";
}
.dpr-icon-google-plus-square:before {
  content: "\f0d4";
}
.dpr-icon-google-plus:before {
  content: "\f0d5";
}
.dpr-icon-caret-down:before {
  content: "\f0d7";
}
.dpr-icon-caret-up:before {
  content: "\f0d8";
}
.dpr-icon-caret-left:before {
  content: "\f0d9";
}
.dpr-icon-caret-right:before {
  content: "\f0da";
}
.dpr-icon-sort-desc:before {
  content: "\f0dd";
}
.dpr-icon-sort-down:before {
  content: "\f0dd";
}
.dpr-icon-sort-asc:before {
  content: "\f0de";
}
.dpr-icon-sort-up:before {
  content: "\f0de";
}
.dpr-icon-linkedin:before {
  content: "\f0e1";
}
.dpr-icon-comment-o:before {
  content: "\f0e5";
}
.dpr-icon-comments-o:before {
  content: "\f0e6";
}
.dpr-icon-exchange:before {
  content: "\f0ec";
}
.dpr-icon-angle-double-left:before {
  content: "\f100";
}
.dpr-icon-angle-double-right:before {
  content: "\f101";
}
.dpr-icon-angle-double-up:before {
  content: "\f102";
}
.dpr-icon-angle-double-down:before {
  content: "\f103";
}
.dpr-icon-angle-left:before {
  content: "\f104";
}
.dpr-icon-angle-right:before {
  content: "\f105";
}
.dpr-icon-angle-up:before {
  content: "\f106";
}
.dpr-icon-angle-down:before {
  content: "\f107";
}
.dpr-icon-circle-o:before {
  content: "\f10c";
}
.dpr-icon-quote-left:before {
  content: "\f10d";
}
.dpr-icon-quote-right:before {
  content: "\f10e";
}
.dpr-icon-spinner:before {
  content: "\f110";
}
.dpr-icon-circle:before {
  content: "\f111";
}
.dpr-icon-mail-reply:before {
  content: "\f112";
}
.dpr-icon-reply:before {
  content: "\f112";
}
.dpr-icon-github-alt:before {
  content: "\f113";
}
.dpr-icon-folder-o:before {
  content: "\f114";
}
.dpr-icon-folder-open-o:before {
  content: "\f115";
}
.dpr-icon-mail-reply-all:before {
  content: "\f122";
}
.dpr-icon-reply-all:before {
  content: "\f122";
}
.dpr-icon-info:before {
  content: "\f129";
}
.dpr-icon-ellipsis-h:before {
  content: "\f141";
}
.dpr-icon-ellipsis-v:before {
  content: "\f142";
}
.dpr-icon-rss-square:before {
  content: "\f143";
}
.dpr-icon-check-square:before {
  content: "\f14a";
}
.dpr-icon-youtube-square:before {
  content: "\f166";
}
.dpr-icon-youtube:before {
  content: "\f167";
}
.dpr-icon-xing:before {
  content: "\f168";
}
.dpr-icon-xing-square:before {
  content: "\f169";
}
.dpr-icon-youtube-play:before {
  content: "\f16a";
}
.dpr-icon-dropbox:before {
  content: "\f16b";
}
.dpr-icon-stack-overflow:before {
  content: "\f16c";
}
.dpr-icon-instagram:before {
  content: "\f16d";
}
.dpr-icon-flickr:before {
  content: "\f16e";
}
.dpr-icon-tumblr:before {
  content: "\f173";
}
.dpr-icon-tumblr-square:before {
  content: "\f174";
}
.dpr-icon-long-arrow-down:before {
  content: "\f175";
}
.dpr-icon-long-arrow-up:before {
  content: "\f176";
}
.dpr-icon-long-arrow-left:before {
  content: "\f177";
}
.dpr-icon-long-arrow-right:before {
  content: "\f178";
}
.dpr-icon-apple:before {
  content: "\f179";
}
.dpr-icon-windows:before {
  content: "\f17a";
}
.dpr-icon-android:before {
  content: "\f17b";
}
.dpr-icon-linux:before {
  content: "\f17c";
}
.dpr-icon-dribbble:before {
  content: "\f17d";
}
.dpr-icon-skype:before {
  content: "\f17e";
}
.dpr-icon-vk:before {
  content: "\f189";
}
.dpr-icon-renren:before {
  content: "\f18b";
}
.dpr-icon-pagelines:before {
  content: "\f18c";
}
.dpr-icon-dot-circle-o:before {
  content: "\f192";
}
.dpr-icon-vimeo-square:before {
  content: "\f194";
}
.dpr-icon-wordpress:before {
  content: "\f19a";
}
.dpr-icon-google:before {
  content: "\f1a0";
}
.dpr-icon-stumbleupon-circle:before {
  content: "\f1a3";
}
.dpr-icon-stumbleupon:before {
  content: "\f1a4";
}
.dpr-icon-delicious:before {
  content: "\f1a5";
}
.dpr-icon-digg:before {
  content: "\f1a6";
}
.dpr-icon-drupal:before {
  content: "\f1a9";
}
.dpr-icon-joomla:before {
  content: "\f1aa";
}
.dpr-icon-language:before {
  content: "\f1ab";
}
.dpr-icon-cubes:before {
  content: "\f1b3";
}
.dpr-icon-behance:before {
  content: "\f1b4";
}
.dpr-icon-steam:before {
  content: "\f1b6";
}
.dpr-icon-spotify:before {
  content: "\f1bc";
}
.dpr-icon-soundcloud:before {
  content: "\f1be";
}
.dpr-icon-vine:before {
  content: "\f1ca";
}
.dpr-icon-git-square:before {
  content: "\f1d2";
}
.dpr-icon-git:before {
  content: "\f1d3";
}
.dpr-icon-qq:before {
  content: "\f1d6";
}
.dpr-icon-wechat:before {
  content: "\f1d7";
}
.dpr-icon-weixin:before {
  content: "\f1d7";
}
.dpr-icon-circle-thin:before {
  content: "\f1db";
}
.dpr-icon-share-alt:before {
  content: "\f1e0";
}
.dpr-icon-yelp:before {
  content: "\f1e9";
}
.dpr-icon-calculator:before {
  content: "\f1ec";
}
.dpr-icon-copyright:before {
  content: "\f1f9";
}
.dpr-icon-at:before {
  content: "\f1fa";
}
.dpr-icon-lastfm:before {
  content: "\f202";
}
.dpr-icon-lastfm-square:before {
  content: "\f203";
}
.dpr-icon-facebook-official:before {
  content: "\f230";
}
.dpr-icon-pinterest-p:before {
  content: "\f231";
}
.dpr-icon-trademark:before {
  content: "\f25c";
}
.dpr-icon-registered:before {
  content: "\f25d";
}
.dpr-icon-creative-commons:before {
  content: "\f25e";
}
.dpr-icon-tripadvisor:before {
  content: "\f262";
}
.dpr-icon-wikipedia-w:before {
  content: "\f266";
}
.dpr-icon-commenting:before {
  content: "\f27a";
}
.dpr-icon-commenting-o:before {
  content: "\f27b";
}
.dpr-icon-vimeo:before {
  content: "\f27d";
}
.dpr-icon-question-circle-o:before {
  content: "\f29c";
}
.dpr-icon-volume-control-phone:before {
  content: "\f2a0";
}
.dpr-icon-viadeo:before {
  content: "\f2a9";
}
.dpr-icon-viadeo-square:before {
  content: "\f2aa";
}
.dpr-icon-snapchat-ghost:before {
  content: "\f2ac";
}
.dpr-icon-snapchat-square:before {
  content: "\f2ad";
}
.dpr-icon-google-plus-circle:before {
  content: "\f2b3";
}
.dpr-icon-google-plus-official:before {
  content: "\f2b3";
}
.dpr-icon-user-o:before {
  content: "\f2c0";
}
.dpr-icon-meetup:before {
  content: "\f2e0";
}
